.p-galleria-item-container {
  position: relative;
}

.pi-bookmark-fill {
  position: absolute;
  color: black;
  padding: 0 5px;
  font-size: 30px;
  line-height: 1.5;
  border-radius: 2px;
  display: none;
}
