<p-galleria [value]="images" [responsiveOptions]="responsiveOptions"
  [containerStyle]="{'max-width': '520px', 'margin': 'auto'}" [numVisible]="5">
  <ng-template pTemplate="header">
    <h2 class="text-center text-cyan-800">API's Tool</h2>
  </ng-template>
  <ng-template pTemplate="caption">
    <p>Apito screens</p>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" style="width: 100%;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-fileUpload name="myfile[]" url="/backend/upload-to-s3" [multiple]="true" accept="image/*" [maxFileSize]="1000000"
      (uploadHandler)="myUploader($event)">
    </p-fileUpload>
  </ng-template>
</p-galleria>
